.card {
    display: flex;
    width: 35%; /* Prend presque la moitié de l'écran (laisse un peu de place pour le gap) */
    min-width: 400px; /* ne devient jamais trop petite sur mobile */
    height: 220px;
    border: 1px solid #ccc;
    border-radius: 16px;
    overflow: hidden;/* Important pour que l'image respecte les arrondis */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* BLOC GAUCHE (IMAGE)*/
.cardPicture {
    width: 40%;
    height: 100%;
}

.cardPicture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image remplit le bloc sans être déformée */
}

/* BLOC DROIT (TEXTE)*/
.cardBody {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
}

.cardBody h2 {
    margin: 0 0 10px 0; /* Enlève la marge du haut et met un peu d'espace en bas */
    font-size: 1.2rem;
}

.cardBody button {
    background-color: #8A5CF5;
    color: #F8F9FA;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
}